
<div class="modal-header" style="background-color:#f39c12;color:white;">
	<h3 class="modal-title"><i class="fa fa-exclamation-triangle"></i> {{item.heading}}</h3>
</div>
<div class="modal-body">
	 <ul>
         <li ng-repeat="itm in item.data  track by $index " >
             <span ng-class="{'danger':$first }">{{ itm }}</span>
         </li>
     </ul>
	
</div>
<div class="modal-footer">

	<button class="btn btn-primary " ng-click="ok()">Confirm</button>
	<button class="btn btn-danger " ng-click="cancel()">Cancel</button>
	 
</div>