<style>.modal-body{
radius:3px !important;
}</style>
<div class="modal-body" >
<div class="row"><div class="col-sm-3 col-md-3 col-xs-12">
	<p class="fa fa-spinner fa-pulse fa-4x fa-fw text-success text-center" style="margin-top:15px !important;"></p>
	</div>
	<div class="col-sm-9 col-md-9 col-xs-12">
	<h4 class="text-bold" > Your Transaction is being processed !!	</h4>
	 <h5 >Keep patience, it will take some time ...!! </h5>
	  <h5  > (Please do not use "Refresh" or "Back" button)</h5>
	  </div>
	<!-- <a href class="pull-right" ng-click="ok()"><i class="fa fa-close fa-lg"></i></a> -->
	</div>
</div> 