<!-- <message-panel></message-panel> -->
<!-- <div class="row ">
	<ol class="breadcrumb">
		<li ng-if="role=='resident'"><a href="#/resident/user-dashboard"><span class="glyphicon glyphicon-home breadcrum-lg"></span></a></li>	
		<li ng-if="role!='resident'"><a href="#/dashboard"><span class="glyphicon glyphicon-home breadcrum-lg"></span></a></li>	
		<li class="breadcrum-lg">{{page.heading}}</li>
		</ol>
		</div> -->
<style>
#img01{
 padding-top: 20px;
height:300px !important;
width:300px !important;
}

.card {
    padding-top: 20px;
    margin: 10px 0 10px 0;
    background-color: white !important;
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
}

.card.hovercard .cardheader {
    background: url("static/img/pro-logo.jpg");
    background-size: cover;
    height: 135px;
}

.card.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.card.hovercard .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 26px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 16px;
    line-height: 30px;
    color: #737373;
    text-overflow: ellipsis;
}
.card.hovercard .info .desc1 {
    overflow: hidden;
    font-size: 20px;
    line-height: 30px;
    color: #265977;
    text-overflow: ellipsis;
}
.card.hovercard .info .desc2 {
    overflow: hidden;
    font-size: 18px;
    line-height: 30px;
    color: #737373;
    text-overflow: ellipsis;
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

#image-src:hover {opacity: 0.7;}

.modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
   background-color: rgba(0,0,0,.0001) !important;
    background-color: #ffffff; /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content1 {
    margin: auto;
    display: block;
    width: 70%;
    max-width: 600px;
}
@media only screen and (max-width: 920px) {
.modal-content1 {
    margin: auto;
    display: block;
    width: 50%;
    max-width: 400px;
}

}

/* Add Animation */
.modal-content1 {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

	
</style>
<script>
// Get the modal
var modal = document.getElementById('myModal2');

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById('image-src');
var modalImg = document.getElementById("img01");
img.onclick = function(){
    modal.style.display = "block";
    modalImg.src = this.src;
}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("modal1")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() { 
	modal.style.display = "none";
    
}
</script>
<div ng-if="loading" class=" loader1"></div>
	<div ng-show="page.view=='read'">
	
	<div class="container" >
	<div class="row">
		<div class="col-lg-4 col-sm-6 margin-bottom-20 col-lg-offset-4 col-sm-offset-3">

            <div class="card hovercard" >
                <div class="cardheader">

                </div>
                <div class="avatar">
                
                    <img alt="" id="image-src" src="dist/img/user2-160x160.png" img-orientation>
                    <a href ng-click="openChangePhotoModal()">
                   <!--  <span ng-if="!profilePic" class="text-img" style="color:black !important">CHANGE</span>
					<span ng-if="profilePic" class="text-img">CHANGE</span></a> -->
                </div>
                 
                <div class="info">
                    <div class="title">
                        <a>{{profile.name}}</a>
                    </div>
                     <div class="desc1">{{profile.email}}</div>
                     <div class="desc1">{{profile.phone_no}}</div>
<!--                     <div class="desc2">{{profile.phone_no}}<i ng-show="profile.email">,</i> {{profile.email}}</div>
                    <div class="desc2" ng-show="profile.flat_no">{{profile.display_unit_no}}, {{categories[profile.flat_category]}}</div>
                    <div class="desc" ng-show="profile.grid_meter_no">Meter No. : {{profile.grid_meter_no}}</div>
 -->                </div>
                <div id="myModal2" class="modal1">
						  <img class="modal-content1" id="img01" >
						  
						</div>
                <div class="bottom">
                    
							<a href ng-click="editUser(profile);changeView('update')" type="button"
							class="btn btn-md btn-primary"> Edit Profile</a>
               <a type="button" ng-click="changeView('change')" 
							class="btn btn-md btn-primary">Change Password</a> 
                </div>
            </div>

        </div>

	</div>
</div>

	</div>

	<div ng-show="page.view == 'update'" >
<div class="row">
	<div class="col-md-8 col-md-offset-2">
	<div class="box box-solid box-primary ">
	 <div class="box-header with-border">
                  <h3 class="box-title">{{page.heading}}</h3>
                </div>
                 <div class="box-body">
		<form name="form"  ng-submit="updateProfile(form.$dirty)">
			
			<div class="form-group ">
				<div class="col-sm-6 margin-bottom-20">
				 <label>User Name</label>
					<input type="text" name="name" class="form-control " 
						 placeholder="Enter Customer Name"
						ng-model="profile.name" ng-pattern="name" required  />
				 		<span style="color:red;" ng-show="form.name.$error.pattern">Name must
								be at least 3 characters and non-numeric!</span>
				 </div>
				 <div class="col-sm-6 margin-bottom-20">
				 <label>Email</label>
					<input type="email" name="email" class="form-control " required
						 placeholder="Enter Email Address" ng-model="profile.email" ng-disabled="page.view=='update'" 
						ng-pattern="/^[A-z0-9_.\-]+[@][A-z0-9_\-]+([.][A-z0-9_\-]+)+[A-z.]{1,4}$/" />
						<span style="color:red;" ng-show="form.email.$error.pattern">Enter valid email id!</span>
				</div>
				</div>
				 <div class="form-group">
				<div class="col-sm-6 margin-bottom-20">
				 <label>Phone No</label>
					<input type="text" name="phoneNo" class="form-control app-input"
						 placeholder="Enter Phone No"
						ng-model="profile.phone_no"  ng-pattern="/^[7-9]{1}[0-9]{9}$/" />
						<span style="color:red;" ng-show="form.phoneNo.$error.pattern">Not a valid phone no!</span>
				</div>
				<div class="col-sm-6 margin-bottom-20">
				 <label>Date of Birth</label>
					<p class="input-group ">
						<input type="text" class="form-control "
							datepicker-popup="dd-MMM-yyyy" show-button-bar="false"
							show-weeks="false" ng-model="profile.dob"
							is-open="opened[2]" readonly placeholder="DOB"
							ng-click="open($event,2)" /> <span class="input-group-btn  ">
							<button type="button" class="btn btn-default btn-device"
								ng-click="open($event,2)">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span>
					</p>
				</div>
			</div>

			<div class="form-group" >
				<div class="col-sm-6 ">
				 <label>Gender</label>
					 <select class="form-control" id="gender" ng-model="profile.gender">
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Rather Not Say">Rather Not Say</option>
                                    </select>

				</div>
				<div class="col-sm-6 ">
				<br>
					<input type="submit" name="submit" value="Update" class="btn btn-success app-btn-success " /> <input
						type="button" value="Cancel" class="btn btn-danger app-btn-danger " ng-click="dataLoad('userDetail');changeView('read')" />
				</div>
			</div>

			
		</form>
		</div>
		</div>
	</div>
	</div>
	</div>
<div ng-show="page.view == 'change'" >
	<div class="col-md-4 col-md-offset-4">
		<div class="box box-solid box-primary">	
		 <div class="box-header with-border">
                  <h3 class="box-title">{{page.heading}}</h3>
                </div>		
			<div class="panel-body app-panel-body">
				<br>
				<form name="changepasswordform" ng-submit="changePassword(pwd)">
					<div class="form-group">
						<input type="password" name="oldpassword" class="form-control app-input" placeholder="Old Password" 
							ng-model="pwd.old_password" required tooltip="Old Password" tooltip-trigger="focus" tooltip-placement="top" />
					</div>
					<div class="form-group">
						<input type="password" name="psw" class="form-control app-input" placeholder="Enter New Password" ng-pattern="/^(?=.*).{6,20}$/"
							ng-model="pwd.new_password" required tooltip="Enter New Password" tooltip-trigger="focus" tooltip-placement="top"  ng-focus="nTest=false"
									ng-blur="nTest=true"/>
						<div  ng-show="changepasswordform.psw.$error.pattern && nTest">
							<div class="text-danger">Password should be atleast 6
								characters long</div>
						</div>
					</div>
					<div class="form-group">
						<input type="password" name="cpassword" class="form-control app-input" placeholder="Confirm Password" 
							ng-model="pwd.cpassword" required tooltip="Confirm Password" tooltip-trigger="focus" tooltip-placement="top" />
					</div>
					<div class="form-group"> 
							<input type="submit" name="submit" value="Change Password" class="btn btn-success btn-sm" />  <input
								type="button" value="Cancel" class="btn btn-danger btn-sm "
								ng-click="changeView('read')" /> 
					</div>
				</form>
			</div>
		</div>
	</div>
 </div>

